.contact {
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Poppins", sans-serif;
  color: #5e5e5e;
}
.messageHeading {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #5e5e5e;
  font-weight: bold;
}
.messageBody {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #5e5e5e;
}
.imgDiv {
  width: 90%;
  margin-left: 50px;
}
.imgOuterDiv {
  display: flex;
  margin-left: 50px;
}
@media screen and (max-width: 1600px) {
  .contact_form_container {
    padding-left: 50px !important;
  }
  .contact {
    padding-left: 60px;
    padding-right: 60px;
  }
  .contactHeader {
    font-size: 45px !important;
  }
  .messageHeading {
    font-size: 45px;
  }
  .messageBody {
    font-size: 20px;
  }
}
@media screen and (max-width: 1366px) {
  .contact {
    padding-left: 55px;
    padding-right: 55px;
  }
  .contactHeader {
    font-size: 43px !important;
  }
  .messageHeading {
    font-size: 43px;
  }
  .messageBody {
    font-size: 19px;
  }
}
@media screen and (max-width: 1100px) {
  .contact {
    padding-left: 50px;
    padding-right: 50px;
  }
  .messageHeading {
    font-size: 41px !important;
  }
  .contactHeader {
    font-size: 41px;
  }
  .messageBody {
    font-size: 18px;
  }
}
.messageRow {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  margin-top: 15vh;
}
.map {
  position: relative;
  margin-left: -50px;
}
.mapborderImg {
  position: absolute;
  margin-top: -35px;
  margin-left: 65px;
  z-index: -1;
}
.iframe {
  margin-left: 100px;
  width: 80% !important;
}
.contact_form_container {
  display: flex;
  justify-content: center;
  padding-left: 80px;
}
.contactHeader {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin-top: -120px;
  color: #5e5e5e;
  font-weight: bold;
}
.maprow {
  margin-top: 180px !important;
}
.input {
  border: none;
  border-bottom: 1px solid #f8831e;
  width: 92%;
  outline: none;
  padding: 10px;
  font-size: 14px;
  margin-top: 70px;
}
.contactLowerBody {
  margin-left: 100px;
}
.cols {
  border-right: 1px solid grey;

  padding-right: 30px;
}
.cols,
.cols1 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 15vh;
}
.contactLowerBody {
  width: 80%;
}
.call,
.email,
.location {
  text-align: center;
  font-size: 13px;
}
