.footer {
  width: 98.77vw;
  background-color: #5e5e5e;
  color: white;
  padding: 5px;
  align-items: center !important;
}
.newsletterbutton {
  background: transparent;
  border: none;
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  padding-left: 25px;
  padding-right: 25px;
}
.footercol {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
}
.quikcons {
  display: flex;
  justify-content: space-around;
  align-items: center !important;
  width: 60% !important;
}
