.welcomeSlide {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
  font-family: "Poppins", sans-serif;
}
.welcomeText {
  margin-top: 45vh;
  color: #f8831e;
  font-size: 80px;
  font-weight: bold;
}
.welcomeTextSub {
  font-size: 20px;
  margin-top: 40px;
  color: #5e5e5e;
}
.downArrow {
  margin-top: 85px;
  color: #f8831e;
  cursor: pointer;
}
.weExplore {
  height: 50vh;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #5e5e5e;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.about {
  height: 50vh;
}
.hrtag {
  width: 55%;
  border-bottom: 2px solid #000000;
}
* .aboutLeft {
  margin-top: 100px;
}
.rotate {
  transform: rotate(-90deg);
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding-top: 200px;
}
.aboutus {
  color: #f8831e;
  font-size: 18px;
}
.aboutRightBox {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 380px;
  padding: 25px;
  padding-top: 45px;
  font-size: 16px;
  color: #5e5e5e;
}
.learnmoreText {
  color: #f8831e;
  font-size: 18px;
}
.learnmoreHr {
  width: 45%;
  border-top: 2px solid #000000;
}
.learnmore {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.header {
  font-family: "Poppins", sans-serif;
  color: #f8831e;
  font-size: 20px;
  border-bottom: 1px solid #000000;
  max-width: 500px;
  padding-left: 20px;
  margin-left: 280px;
}
.tagline {
  font-family: "Poppins", sans-serif;
  max-width: 350px;
  padding-left: 20px;
  margin-left: 280px;
  margin-top: 40px;
  font-size: 40px;
  color: #5e5e5e;
}
.imageGallery {
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 120px;
}
.imgGallery_img {
  max-width: 350px;
  height: 350px !important;
}
.subtext {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  margin-top: 45px;
  color: #5e5e5e;
}
.border {
  width: 40%;
  height: 1px;
  border-bottom: 2px solid #f8831e !important;
  /* margin: -50px auto 10px; */
}
.motive {
  margin-top: 250px;
}
.homeImage {
  height: 100vh;
}
.motiveRightBox {
  color: #5e5e5e;
  font-size: 45px;
  max-width: 550px;
  padding-top: 60px;
}
.whatwedoCols {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  width: 85%;
}
.whatwedo_cols {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 340px;
  font-size: 16px;
  color: #5e5e5e;
}
.whatwedo_outside {
  display: flex;
  justify-content: center;
}
