nav {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.nav-logo-icon {
  max-height: 50px;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.navContainer_outside {
  width: 100%;
  display: flex;
  justify-content: center;
}

.border3 {
  width: 60%;
  height: 1px;
  border-bottom: 2px solid #f8831e !important;
}

.nav-item:hover {
  color: white;
  background-color: #f8831e;
}

#activeLine {
  display: none;
}

a.nav-link.nav-active span#activeLine {
  display: contents;
}
