.navBar-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

#main-navBar-home {
  background-color: #000;
  height: 100%;
  width: 100%;
}

#main-navBar-home:hover {
  cursor: url("./assets/nav-close.png"), pointer;
}

#home-navBar-back {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
}

#home-navBar-back-container {
  height: 100%;
  width: 1955px;
  background-image: url("./assets/background.gif");
  background-position: 0px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100%;
  padding-right: 100%;
  display: flex;
  transition: 1s;
}

.home-navBar-back-item {
  float: left;
  height: 140px;
  width: 135px;
}

.home-navBar-back-item-background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 239px;
  width: 240px;
  z-index: 50;
}
.home-navBar-back-item-transition {
  background-image: url("./assets/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 241px;
  width: 241px;
  z-index: 51;
}
.home-navBar-back-item-bg {
  background-repeat: no-repeat;
  position: absolute;
  top: -140px;
  left: -140px;
  height: 240px;
  width: 240px;
  z-index: 50;
}
.home-navBar-back-item-nb {
  position: absolute;
  top: -34px;
  left: -140px;
  height: 240px;
  width: 240px;
  z-index: 51;
  font-size: 22px;
  color: #2e2e2e;
}
.home-navBar-back-item.selected .home-navBar-back-item-nb {
  color: #fff;
}

#home-navBar-front {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

#home-navBar-front-container {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: 43px;
  width: 6580px;
  transition: 1s;
}
.home-navBar-front-item {
  height: 85px;
  width: 470px;
  float: left;
}
.home-navBar-front-item > div {
  width: 470px;
  text-align: center;
}
.home-navBar-front-item.selected div.title div {
  color: #fff;
}
.home-navBar-front-item div.title div {
  font-size: 34px;
  color: #383838;
  letter-spacing: 9px;
  text-decoration: none;
}
.home-navBar-front-item div.description {
  margin-top: 22px;
  font-size: 12px;
  font-style: italic;
  color: #686868;
  letter-spacing: 2px;
}

.home-navBar-back-item > div {
  width: 135px;
  text-align: center;
  position: relative;
}

#nav-navBar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  display: none;
}
#logo-navBar {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 300;
}
#navigator-navBar-container {
  width: 100%;
  position: relative;
  height: 57px;
  background-color: #000;
}
#navigator-navBar {
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.separation-navBar {
  width: 2px;
  height: 11px;
  float: left;
  background-color: #fff;
  opacity: 0.5;
  margin-top: 20px;
}
.navigator-navBar-item.selected {
  background-image: url("./assets/nav-r-selected.gif");
  background-position: 0px 12px;
  background-repeat: no-repeat;
}
#first-navigator-navBar-item {
  margin-top: 0px;
  width: 1px;
  height: 55px;
  float: left;
  padding-bottom: 35px;
  padding-top: 20px;
  background-image: url("./assets/nav-r.gif");
}
.navigator-navBar-item {
  margin-top: -12px;
  width: 30px;
  height: 110px;
  float: left;
  padding-bottom: 35px;
  padding-top: 20px;
  background-image: url("./assets/nav-r.gif");
  background-position: 29px 12px;
  background-repeat: no-repeat;
}
#navigator-navBar-drag {
  width: 28px;
  height: 55px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  margin-left: -1px;
  transition: 0.3s;
}
#nav-navBar-container {
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 32px;
  width: 100%;
  padding-top: 10px;
}

#navigator-navBar-drag:hover,
.navigator-navBar-item.hover:hover {
  cursor: url("./assets/clic.png"), pointer;
}

.hover-navBar:hover {
  cursor: pointer;
}

.nav-socials {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  width: 170px;
  margin-left: 55px;
}
